.input-wrapper{
    --inputColor : var(--clBorder);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label {
    }
    input, textarea {
        padding: 0.5rem 1rem;
        --border-width: .01rem;
        border: var(--border-width) solid var(--inputColor);
    }
    .status{
        font-size: 0.8rem;
        color: var(--inputColor);
    }
    &.state-success{
        --inputColor : var(--clStateSuccess);
    }
    &.state-warning{
        --inputColor : var(--clStateWarning);
    }
    &.state-error{
        --inputColor : var(--clStateError);
    }
}

.input-icon{
    position: relative;
    &:before{
        content:"i";
        position:absolute;
        padding: 0.5rem 1rem;
        right: 0;
    }
}