.toggle{
    position:relative;
    label
    {
        position: relative;
        display: block;
        cursor: pointer;
        transition-duration: 1s;
        padding-left: 3rem;
    }

    label:before
    {
        left: 0.2rem;
        width: 1rem;
        height: 1rem;
        top: 0.15rem;
        border: var(--border-width) solid #FFF;
        background-color:#FFF;
        z-index: 2;
    }

    label:after
    {
        top: 0;
        left: 0;
        width: 2.5rem;
        height: 1.3rem;
        background-color:var(--clBodyBg);
        z-index: 1;
    }

    label:before, label:after
    {
        content: "";
        position: absolute;
        border-radius: 50px;
        box-sizing: border-box;
        transition-duration: 0.5s;
    }

    #toggle_checkbox:checked + label:before
    {
        top: 15%;
        left: 1.3rem;
    }
    #toggle_checkbox:checked + label:after
    {
        background-color:#092C4C;
    }
}

#toggle_checkbox
{
    display: none;
}

