.tooltip{
    position: relative;
    z-index: 900;
    display: none;
    margin: 0;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    opacity: 1;
    /* position: absolute; */
    /* transform: translate3d(321px, 1643px, 0px); */
    top: 0px;
    left: 0px;
    color: #FFF;
    background-color: var(--clBodyBgDark);
    padding: 0.5rem;
    --arrowSize: 0.5rem;
    .arrow{
        position: absolute;
        display: block;
        width: 0; 
        height: 0; 
    }
    &.show{
        display: inline-block;
    }
    &.tooltip-top{
        top: -1rem;
        .arrow{
            bottom: -0.5rem;
            left: 50%;
            border-left: var(--arrowSize) solid transparent;
            border-right: var(--arrowSize) solid transparent;
            border-top: var(--arrowSize) solid var(--clBodyBgDark);
            transform: translateX(-50%);
        }
    }
    &.tooltip-bottom{
        bottom: -1rem;
        .arrow{
            top: -0.5rem;
            left: 50%;
            border-left: var(--arrowSize) solid transparent;
            border-right: var(--arrowSize) solid transparent;
            border-bottom: var(--arrowSize) solid var(--clBodyBgDark);
            transform: translateX(-50%);
        }
    }
    &.tooltip-left{
        left: -1rem;
        .arrow{
            right: -0.7rem;
            border-top: var(--arrowSize) solid transparent;
            border-bottom: var(--arrowSize) solid transparent;
            border-left: var(--arrowSize) solid var(--clBodyBgDark);
            transform: translateX(-50%);
        }
    }
    &.tooltip-right{
        right: -1rem;
        .arrow{
            left: -0.2rem;
            border-top: var(--arrowSize) solid transparent;
            border-bottom: var(--arrowSize) solid transparent;
            border-right: var(--arrowSize) solid var(--clBodyBgDark);
            transform: translateX(-50%);
        }
    }


}