.accordion {
    .accordion-item{
        box-shadow: 1px 1px 7px rgba(0,0,0,.1);
        padding: .5rem 1rem;
        margin: 1rem 0;
        .accordion-content{
            display:none;
        }
        &.open {
            .accordion-content{
                display:block;
            }
        }
    }
}