.modal{
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // background-color: rgba(0,0,0,0.4);
    // z-index: 1000;
    .modal-content{
        // position: fixed;
        // top: 0;
        // right: 0;
        // bottom: 0;
        left: 50%;
        max-height: 50%;
        overflow-y: scroll;
        transform: translateX(-50%);
        background-color: #fff;
        max-width: 50%;
        box-shadow: 1px 1px 7px rgba(0,0,0,.1);
        padding: .5rem 1rem;
        margin: 1rem 0;
        margin: auto;
        display: none;
        z-index: 1000;

    }
    &.open {
        .modal-content{
            display:block;
        }
    }
}

