.pagination, .breadcrumbs{
    list-style-type:none;
    display:flex;
    flex-direction: row;
    padding-inline-start: 0;
    li {
        a{
            padding:1rem;
            text-decoration: none;
            color:var(--clBodyText);
            &:hover{
                color:var(--clBrandPrimary);
            }
        }
        margin: 0 0.2rem;
    }
}

.pagination{

    li {

        border-right: 1px solid var(--clBorder);
        &:last-child{
            border:0;
        }
    }
}

.breadcrumbs{
    li {
        margin: 0 0.2rem;
        &::after{
            content : ">"
        }
        &:last-child{
            &::after{
                content : " "
            }
        }
    }
}