.card-small{
  width: 30.5%;
  max-width: 100%;
  @media screen and (max-width:1179px){
    width: 47.2%;
  }
  @media screen and (max-width:795px){
    width: 100%;
  }
  .card-picture {
    width:100%;
    max-width: 100%;
    @media screen and (max-width:795px){
      height: auto;
    }
    img{
      width: 100%;
      max-width: 100%;
    }
  }
  .card-text{
    width:100%;
    max-width: 100%;
    height: 18rem;
    padding:2rem;
    background-color:#FFF;
    @media screen and (max-width:767px){
      height: auto;
    }
    .card-text-head{
      .card-category{
        margin-bottom: 0.5rem;
        p{
        }
      }
      .card-title{
        margin-bottom: 0.5rem;
        h3{
        }
      }
      .card-date{
        margin-bottom: 1rem;
        p{
          text-transform: uppercase;
        }
      }
    }
    .card-text-body{
      .card-excerpt{
        margin-bottom: 1rem;
        p{
          line-height: 1.8rem;
        }
      }
      .keep-reading{
        a{
          text-decoration: underline;
        }
      }
    }
  }
}

#main-article{
  .card-small{
    width: 37.3rem;
  }
}
