.card{
  position: relative;
  margin:1.5rem 0;
  box-shadow: 1px 1px 7px rgba(0,0,0,.1);
  --size-font-magazine: 7rem ;
  --size-font-card-category: 2rem;
  --size-font-card-title: 3rem;
  --size-font-card-title-resp: 2rem;
  --size-font-card-date: 1rem;
  --size-font-card-excerpt: 1rem;
  --size-body-font: 1rem;
  --size-font-category-title:6rem;
  a.linkToArticle{
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .keep-reading{
    position: relative;
    z-index: 10;
  }
}

/*CARD FONTS */

