.card-big{
  width: 66%;
  max-width: 100%;
  @media screen and (max-width:1179px){
    width: 100%;
  }
  .card-picture {
    width:100%;
    max-width: 100%;
    overflow:hidden;
    @media screen and (max-width:1179px){
      height: 37.5rem;
    }
    @media screen and (max-width:795px){
      height: auto;
    }
    img{
      width: 100%;
    }
  }
  .card-text{
    width:100%;
    max-width: 100%;
    height: 14rem;
    padding:2rem;
    background-color:#FFF;
    display:flex;
    flex-direction: row;
    @media screen and (max-width:1179px){
      height: 24rem;
      display: block;
    }
    @media screen and (max-width:767px){
      height: auto;
    }
    .card-text-head{
      width: 24rem;
      padding-right: 1.5rem;
      @media screen and (max-width:1179px){
        width: auto;
        padding-right: 0;
      }
      .card-category{
        margin-bottom: 0.5rem;
        p{
        }
      }
      .card-title{
        margin-bottom: 0.5rem;
        h3{
        
        }
      }
      .card-date{
        margin-bottom: 1rem;
        p{
          text-transform: uppercase;
        }
      }
    }
    .card-text-body{
      width: 56rem;
      @media screen and (max-width:1179px){
        width: auto;
      }
      .card-excerpt{
        margin-bottom: 1rem;
        p{
          line-height: 1.7rem;
        }
      }
      .keep-reading{
        a{
          text-decoration: underline;
        }
      }
    }
  }
}
