.cards-container{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
margin-bottom: 4rem;
  @media screen and (max-width:1179px){
    width:77.5rem;
    margin: 0 auto;
    max-width: 100%;
  }
}
