.wrapper-prev-next{
  padding:0 4rem;
  width: 118rem;
  max-width: 100%;
  margin: 2rem auto;
  .prev, .next{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin:1rem 0;
    a {
      &:hover{
        color: --clBrandPrimary;
      }
    }

  }
  .prev:before, .next:after{
    display: inline-block;
    content: "";
    border-top: .1rem solid var(--clBorder);
    width: 3.5rem;
    margin: 0 1rem;
    transform: translateY(-0.4rem);
  }
  .prev{
    float:left;
  }
  .next{
    float:right;
  }

}

.clear-float{
  clear: both;
}
.pagination{
 text-align: center;
 margin-bottom: 4rem;
 .nav-links {
  a {
    &:hover{
      color: --clBrandPrimary;
    }
  }
 }
}
