body {
    font-family: sans-serif;
}

//Heading

h1, h2, h3, h4 {
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}