:root {
    --clBodyBg: #E0E0E0;
    --clBodyText: #333;
    --clBorder:#333;
    --clBodyBgDark: #393938;
}

body {
    color: var(--clBodyText);
    background: var(--clBodyBg);
}

section {
    margin: 2rem auto;
}