.btn {
    --radius: .125rem;
    --border-width: .125rem;
    border-radius: var(--radius);
    padding: 0.4rem .8rem;
}

.btn-primary {
    background: var(--clBrandPrimary);
    border: var(--border-width) solid var(--clBrandPrimary);
    &:hover{
        background: var(--clBrandSecondary);
        border: var(--border-width) solid var(--clBrandSecondary);
    }
}

.btn-outline {
    border: var(--border-width) solid var(--clBrandPrimary);
    &:hover{

    }
}

.btn-icon {
    &:before{
        content:"i";
    }
}