
@import './atoms/reset';
@import './atoms/typo';
@import './atoms/color/*';
@import './atoms/button/*';
@import './atoms/input/*';
@import './atoms/pagination/*';
@import './atoms/big-elements/*';
@import './atoms/cards/*';
@import './atoms/small-elements/*';






// FOR APP PREVIEW

.atomic-design-wrapper {
    max-width: 60rem;
    margin: auto;
    padding: 1rem;
    background-color:#FFF;
}

// Titles
.main-title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
.section-title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 0.5rem;
}
.section-subtitle{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#828282;
}
.element-title{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#bdbdbd;
    margin: 0.3rem 0;
}

section {
    &#inputs, &#checkbox-radio{ 
        .input-wrapper{
            margin-bottom: 1rem;
        }
    }
    &#selectors{ 
        .selector-wrapper{
            margin-bottom: 1rem;
        }
    }
}

.masonry{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Headings

.heading-table-row{
    display: table-row;
    .size{
        display:table-cell;
        padding-right:1rem;
    }
    .heading{
        display:table-cell;
    }
}

#image-ratios-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}